<footer id="footer">
    <div class="container text-center">
      <div class="row">

        <div class="col">
          <a href="https://twitter.com/vvvvvdddddddddd" target="_blank"><i class="fa-brands fa-twitter icon-footer"></i></a>
          <a href="https://github.com/V-Domin" target="_blank"><i class="fa-brands fa-github icon-footer"></i></a>
          <a href="https://www.linkedin.com/in/vitaliy-d-omin/" target="_blank"><i class="fa-brands fa-linkedin icon-footer"></i></a>
          <a class="button-58" href="mailto:vitalijdemin386@gmail.com" target="_blank"><i class="fa-solid fa-envelope icon-footer"></i></a>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <p class="footer-text">© Copyright 2023 teachHub</p>
        </div>

      </div>
    </div>
  </footer>